@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {
   --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
   --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
   --Grayish-Blue: hsl(212, 23%, 69%);
   --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.display-none {
   visibility: hidden;
}

body {
   font-family: 'Manrope', sans-serif;
   font-size: 13px;
   background-color: var(--Light-Grayish-Blue);
   color: var(--Very-Dark-Grayish-Blue);
   display: grid;
   place-content: center;
   min-height: 100vh;
}

.card-preview-container {
   width: 750px;
   box-shadow: 0 40px 40px -10px var(--Very-Dark-Grayish-Blue);
   display: flex;
   align-items: center;
   border-radius: 10px;
}

.card-image {
   display: block;
   width: 300px;
   height: 290px;
   border-radius: 10px 0 0 10px;
   object-fit: cover;
}

.card-content-container {
   width: 500px;
   height: 290px;
   padding: 2rem;
   background-color: white;
   border-radius: 0 10px 10px 0;
}

.main-heading {
   font-size: 1.5rem;
   margin-bottom: 1rem;
   line-height: 1.5;
   font-weight: 700;
   letter-spacing: .25px;
}

.preview-text {
   color: var(--Desaturated-Dark-Blue);
   line-height: 1.5;
   margin-bottom: 1rem;
}

.author-info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
   margin-top: 1rem;
}

.date-name-avatar-container {
   display: flex;
   align-items: center;
   gap: .5rem;
}

.author-avatar-image {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: .5rem;
}

.author-name {
   font-weight: 700;
   width: max-content;
}

.date {
   color: var(--Grayish-Blue);
}

.share-btn-container {
   width: 32px;
   height: 32px;
   border-radius: 50%;
   background-color: var(--Light-Grayish-Blue);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}


.share-bubble-container {
   background-color: var(--Very-Dark-Grayish-Blue);
   border-radius: 8px;
   width: 250px;
   height: 50px;
   position: relative;
   box-shadow: 0 15px 25px -10px var(--Very-Dark-Grayish-Blue);
   top: -60px;
   left: 134px;
}

.share-bubble-container::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 50%;
   width: 0;
   height: 0;
   border: 10px solid transparent;
   border-top-color: var(--Very-Dark-Grayish-Blue);
   border-bottom: 0;
   margin-left: -10px;
   margin-bottom: -10px;
}

.share-icons-container {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 1rem;
   column-gap: 20px;
}

.share-text {
   color: var(--Grayish-Blue);
   line-height: 20px;
   font-weight: 500px;
   text-transform: uppercase;
   letter-spacing: 5px;
}

.mobile-author-area {
   display: none;
}

.mobile-avatar-container {
   display: none;
}

.mobile-share-btn-container {
   display: none;
}

.mobile-social-share-bar {

   display: none;
}

.mobile-social-container {
   display: none;
}

.mobile-social-share-btn {
   display: none;
}

/* Media Queries */

@media (max-width: 768px) {

   body {
      display: flex;
      flex-direction: column;
      align-items: center;
   }


   .card-preview-container {
      padding: 0;
      margin: 1.5rem auto;
      box-sizing: border-box;
      width: 350px;
      height: 600px;
      flex-direction: column;
   }

   .card-image {
      height: 250px;
      width: 350px;
      border-radius: 10px 10px 0 0;
   }

   .card-content-container {
      width: 350px;
      height: 400px;
      border-radius: 0 0 10px 10px;
      padding: 0;
   }

   .main-heading {
      padding: 2rem 2rem 0 2rem;
   }

   .preview-text {
      font-size: .895rem;
      padding: 0 2rem;
   }

   .author-info {
      display: none;
   }



   /*Mobile Author Area*/
   .mobile-author-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1.5rem 0 1rem;
      padding: 0 2rem;
      /* display: none; */
   }

   .mobile-avatar-container {
      display: flex;
      align-items: center;
      gap: .5rem;
   }

   .mobile-share-btn-container {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: var(--Light-Grayish-Blue);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
   }

   /*Mobile social share bar */

   .mobile-social-share-bar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--Very-Dark-Grayish-Blue);
      padding: 1rem 2rem;
      height: 60px;
      border-radius: 0 0 10px 10px;
      display: none;
   }

   .mobile-social-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0;
      column-gap: 20px;
   }

   .mobile-social-share-btn {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
   }
}
